{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		chocolate
	</title>
	<link href="{% static 'style.css'%}" rel="stylesheet" type="text/css">
    <script>
        function showFeddbackWindow() {
	document.getElementById("feedback").style.display = "block";
	document.getElementById("feedback-open").style.display = "none";
}

function submitFeedback () {
	var name_input = document.getElementById("id_name");
	var name = name_input.value;

	var mail_input = document.getElementById("id_mail");
	var mail = mail_input.value;

	var massage_input = document.getElementById("id_massage");
	var massage = massage_input.value;

	if(name.trim().length == 0)
	{
		alert("Ваше имя");
	}
	else if (mail.trim().length == 0)
	{
		alert("ваше email!");
	}
	else if (massage.trim().length == 0)
	{
		alert("напишите сообщение!");
	}
	else{
		alert("Уважаемый(ая), " + name.trim() + ", ваше сообщение принято!");
		document.getElementById("feedback").style.display = "none";
		document.getElementById("feedback-open").style.display = "block";
	}
	return false;
}

    </script>
</head>
<body>
    {% load staticfiles %}
        <header>
	<img src="{% static 'logo.png'%}"  class="logo">
		<span> А Шоколад- это Шоколад! </span>
			<div class="clearfix">
			</div>
</header>
	<nav class="button">
		<ul >
			<li ><a href="base.html"><h2 class="active">Главная</h2></a></li>
			<li ><a href="calcul.html"><h2 class="active">Калькулятор</h2></a></li>
			<li ><a href="foto.html"><h2 class="active">Фото</h2></a></li>
			<li ><a href="fact.html"><h2 class="active">Интереные факты</h2></a></li>
		</ul>
			<div class="clearfix">
			</div>
	</nav>
    <div class="main">
          {% block content %}

                        {% endblock %}
    </div>
<footer >
		<div class="block">
			<div class="footer-block">
				<h2>О шоколаде </h2>
					<ul>
						<li><a href="#"> <h3>Технология изготовления</h3> </a></li>
						<li><a href="#"> <h3> История шоколада</h3></a></li>
						<li><a href="#"> <h3>Рецепты </h3></a></li>
					</ul>
				</div>
					<div class="footer-block">
						<h2>Моя коллекция</h2>
							<ul >
								<li><a href="#"> <h3>Домашние</h3> </a></li>
								<li><a href="#"><h3>Горячие шоколады</h3></a></li>
								<li><a href="#"><h3> Швейцарские</h3> </a></li>
							</ul>
					</div>
				<div class="footer-block">
					<h2>Фабрики, бренды</h2>
						<ul >
							<li><a href="#"><h3> Roshen </h3></a></li>
							<li><a href="#"><h3> Словяночка </h3> </a></li>
							<li><a href="#"><h3> Nestle </h3></a></li>
						</ul>
					</div>
				<div style="clear:both;"></div>
					</div>

				<div id="feedback-open" onclick="showFeddbackWindow();"> <h2>Написать нам</h2> </div>
					<div id="feedback">
						<form>
							<label style="color:black;" for="id_name">Имя</label>
							<input style="color:black;" type="text" name="name" id="id_name" >
							<label style="color:black;" for="id_mail">Почта</label>
							<input style="color:black;" type="text" name="name" id="id_mail" >
								<label style="color:black;" for="id_massage">Ваше сообщение</label>
									<textarea style="color:black;" type="text" name="name" id="id_massage" ></textarea>
							<input type="submit" value="Отправить" onclick="return submitFeedback();">
						</form>
					</div>
				<div>
					<a href="indexi.html">
						<img class="anchor" img src="{% static '2.jpg'%}" />
					</a>
				</div>

			</footer>
		</body>
</html>
