{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Шоколадки для вас!</title>
	<script>
        function areaRectangle(){
  var a=document.forma1.t1.value;
  var b=document.forma1.t2.value;
  var s=a*b;
  document.forma1.res.value=s;
}
    </script>
    <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css">

</head>
<body>
	<header>
			<img src="{% static 'logo.png'%}"  class="logo">
				<span> А Шоколад- это Шоколад!
				</span>
			<div class="site-title">
			</div>
		<div class="clearfix"></div>
	</header>
		<nav class="button">
			<ul>
				<li><a href="base.html"><h2>Главная</h2></a></li>
				<li><a href="calcul.html"><h2>Калькулятор</h2></a></li>
				<li><a href="foto.html"><h2>Фото</h2></a></li>
				<li><a href="fact.html"><h2>Интереные факты</h2></a></li>
			</ul>
	<div class="clearfix"></div>
		</nav>
			<div class="main">
				<form name="forma1">
					<div class="button">
						Введите цену за 1кг <input type="text" name="t1" size="10"><br><br>
						За <input type="text" name="t2" size="10">кг<br><br>
						<input type="button" name="button" value="Вычислить"onClick="areaRectangle();"><br><br>
						Цена <input type="text" name="res" size="10">сом
					</div>
				 </form>
			</div>
</body>
</html>
