header{
		background-color: #f3e6be;
		padding: 20px;
		border-radius: 8px;
		}
	span
		{color: brown;
		text-align: right;
		font-size: 80px;
		font-style: italic;
		margin-left: 30px;
			}
	.logo{
		width: 150px;
		height: 150px;
		float: left;

		}
	.sait-title{
		float: left;
		font-size: 30px;
		font-weight: bold;
		margin-top: 40px;
		margin-left: 20px;
		font-family: Arial;
		color: blue;
		}
	.clearfix{
		clear: both;
		}
	nav{
		background-color: #feedba;
		padding: 10px 0;
		text-align: left;
		font-size: 22px;
		border-radius: 8px;
			}
	ul {
		padding-top: 0px;
		margin-top: 0px;
			}
	ul a:hover{
		color:black;
	}


	li{
		float: left;
		list-style: none;
		margin-left: 80px;
		    }
	li.active{
        color: red;
      }

	.main{
			background-color: #f3e6be;
			height: 1000px;
			padding-left: 100px;
			padding-right: 100px;
			text-align: justify;
			text-indent: 19px;
			padding-top: 0px;
			border-radius: 8px;
			font-size: 18px;
			font-style:oblique ;
			}
	h1 {
			margin-top: 0;
			padding-top: 10px;
			font-style: italic;
			}
	h2{
			margin-top: 0;
			font-style: oblique;
			font-size: 24px;

			}
	h3{
			float: none;
			margin-top: 5px;
			font-style: normal;
			font-size: 14px;
			}
	.image-in-text{
			float: left;
			margin-right: 0;
			margin-bottom: 0;
			width: 500px;
			height: 300px;
			}
	.image-in-text2{
			float: left;
			margin-right: 20px;
			margin-bottom: 20px;
			width: 300px;
			height: 300px;
			}
	footer {
			padding-right: 400px;
			text-align: left;
			}

	.footer-block {
			float:left;
			width: 33%;
			text-align: center;
			color: black;
			}



	.button{
			border-radius:3px;
			padding:5px;
			border: black solid 1px;
		}

	html, body{
			margin: 0;
			padding: 0;
		}
	#feedback{
			position: fixed;
			bottom: 0px;
			right: 0px;
			width: 200px;
			height: 162px;
			background: #feedba;
			display: none;
			border-radius: 5px;
			border: 3px solid #231c1c;
		}
	#feedback-open{
			background: #feedba;
			width: 200px;
			height: 35px;
			position: fixed;
			bottom: 0px;
			right: 0px;
			border-radius: 5px;
			border: 3px solid #231c1c;
		}
	.anchor{
			width: 50px;
			height: 50px;
			display: inline-block;
			position: fixed;
			bottom: 50px;
			right: 1250px;
			opacity: 1;
			border: 2px solid black;
			border-radius: 20px;
					}


